.tooltip-item {
  position: relative;
  .tooltip-text {
    visibility: hidden;
    width: max-content;
    max-width: 220px;
    background-color: $background-dark;
    color: $font-light;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    
    opacity: 0;
    transition: opacity 0.3s;
    &--center {
      transform: translateX(-46%);
    }
    &--right {
      transform: translateX(4%);
    }

    &--left {
      transform: translateX(-94%);
    }
  }
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
