$accent-main: #0288D1;
$accent-additional: #E7F6FF;

$background-main: #E5E5E5;
$background-shadow: #EAEDF5;
$background-dark: #37474F;

$font-main: #37474F;
$font-disabled: #C2CFE0;
$font-success: #2AC9A1;
$font-error: #FB6868;
$font-light: #FAFAFA;

//Additional colors
$white-ghost: #F6F8FE;
$white-solitude: #F2F4FB;
$blue-light: #D2EFFF;